<% include header %>
 
<form action ="/post" method ="post">

    <div>
        
        <input type ="text"  name ="task" placeholder ="task input" >
    </div>
        
    
<p>
    
    <input type="submit" value ="Save &rarr; ">

</p> 
</form>

<%  data.forEach((task, i)=> { %>

   <li><a href="/id<%= i %>">✘</a> <%= task %></li>

<%});%>

<% include footer %>
